flows_heizung.json
[{"id":"b830962c.d8ca28","type":"tab","label":"ebusd receive"},{"id":"b5f2035a.746998","type":"tab","label":"ebusd poll"},{"id":"398b6f8a.cfdbb","type":"tab","label":"VZ Public Channels"},{"id":"6e79b0b4.6f8a18","type":"tab","label":"VZ Poll"},{"id":"fdcf5ef4.578018","type":"tab","label":"SDM630","disabled":false,"info":""},{"id":"cea00169.50bf88","type":"subflow","name":"VZ Log","info":"","in":[{"x":50,"y":30,"wires":[{"id":"1d0e0beb.77d204"}]}],"out":[{"x":483,"y":226,"wires":[{"id":"2f19db2c.06de34","port":0}]}]},{"id":"8e69b0b0.66c858","type":"subflow","name":"HcStarts","info":"","in":[{"x":-3.5,"y":562,"wires":[{"id":"1bd9f9f.e87d686"}]}],"out":[{"x":387.5,"y":733,"wires":[{"id":"699aa5d6.c4b9e4","port":0}]}]},{"id":"30d50c1c.6fdb4c","type":"subflow","name":"VZ Push","info":"","in":[{"x":50,"y":30,"wires":[{"id":"bc5c0ffb.ee5aa"}]}],"out":[{"x":460.1111145019531,"y":297.55555725097656,"wires":[{"id":"52f3aaa6.ef20c4","port":0}]}]},{"id":"4a184b82.8c2c8c","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},{"id":"8292dd52.c65958","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"Helvetica Neue","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"Helvetica Neue","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"Helvetica Neue"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false}}},"site":{"name":"Home","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"2e54dc7c.160fac","type":"ui_tab","z":"","name":"Heizung","icon":"dashboard","order":1},{"id":"cd081c84.5bacb","type":"ui_group","z":"","name":"Betriebsstunden","tab":"2e54dc7c.160fac","disp":true,"width":"6"},{"id":"d2c61125.face98","type":"ui_group","z":"","name":"Temperaturen","tab":"2e54dc7c.160fac","disp":true,"width":"6"},{"id":"5d10f9cf.61fcd8","type":"ui_group","z":"","name":"Außentemperatur","tab":"2e54dc7c.160fac","disp":true,"width":"6"},{"id":"7eb092b9.f44a3c","type":"ui_tab","z":"","name":"Energie","icon":"dashboard","order":2},{"id":"b429c6d6.ec82c","type":"ui_group","z":"","name":"Tag","tab":"7eb092b9.f44a3c","disp":true,"width":"6"},{"id":"d49457d1.dab6a","type":"function","z":"b830962c.d8ca28","name":"Detect Changes","func":"var values = flow.get(\"values\") || {}, \n    timestamps = flow.get(\"timestamps\") || {},  \n    oldValue = values[msg.topic],\n    oldTimestamp = timestamps[msg.topic],\n    skip;\n\nmsg.old = {\n    timestamp: oldTimestamp,\n    value: oldValue\n}\n\nskip = \n    oldValue !== undefined &&\n    (Math.abs(msg.payload - oldValue) < 0.5) &&\n    oldTimestamp !== undefined &&\n    (Math.abs(Date.now() - oldTimestamp) < 10*60 * 1e3);\n\nif (skip)\n    return null;\n\n/*\nnode.warn(\"-- \" + msg.topic + \" --\\n\" + \n    \"val: \"+msg.payload +\"\\n\"+ \n    \"old: \"+oldValue +\"\\n\"+ \n    \"tsp: \"+(Date.now())+\"\\n\"+\n    \"old: \"+oldTimestamp+\"\\n\"+\n    (skip? \"true\":\"false\")\n);\n*/\n\nvalues[msg.topic] = msg.payload;\nflow.set(\"values\", values);\n\ntimestamps[msg.topic] = Date.now();\nflow.set(\"timestamps\", timestamps);\n\nreturn msg;","outputs":1,"noerr":0,"x":415.2777862548828,"y":450.6666965484619,"wires":[["7f4b6b7c.a3e084"]]},{"id":"d5ae0548.01173","type":"http request","z":"cea00169.50bf88","name":"Send to API","method":"POST","ret":"txt","url":"http://keller.fritz.box/middleware.php/data/{{{uuid}}}.json","tls":"","x":262.5,"y":133,"wires":[["2f19db2c.06de34"]]},{"id":"1d0e0beb.77d204","type":"function","z":"cea00169.50bf88","name":"Get UUID","func":"var map = global.get(\"channels\") || {}\n\nmsg.uuid = map[msg.topic];\n    \nif (msg.uuid === undefined) {\n    node.error(\"Undefined uuid for \" + msg.topic);\n    return null;\n}\n\n// prepare json array\nmsg.payload = JSON.stringify([\n    [Date.now(), msg.payload]\n]);\n\nreturn msg;","outputs":1,"noerr":0,"x":225.5,"y":70,"wires":[["d5ae0548.01173"]]},{"id":"2f19db2c.06de34","type":"function","z":"cea00169.50bf88","name":"Remove HTTP 200","func":"if (msg.statusCode == 200)\n    return null;\n    \nreturn msg;","outputs":1,"noerr":0,"x":317.5,"y":190,"wires":[[]]},{"id":"d924f1a0.37d77","type":"mqtt in","z":"b830962c.d8ca28","name":"","topic":"ebusd/bai/+","qos":"2","broker":"4a184b82.8c2c8c","x":123.5,"y":39,"wires":[["ddfec2d.a19134"]]},{"id":"b0528eaf.d8bb","type":"inject","z":"398b6f8a.cfdbb","name":"","topic":"","payload":"","payloadType":"date","repeat":"3600","crontab":"","once":true,"x":98.5,"y":70,"wires":[["933ae1e3.eee6d8"]]},{"id":"33d0f476.e8fc5c","type":"http request","z":"398b6f8a.cfdbb","name":"","method":"GET","ret":"txt","url":"http://keller.fritz.box/middleware.php/entity.json","tls":"","x":258.5,"y":163,"wires":[["a478d738.70e748"]]},{"id":"92f2e8a4.6c0d58","type":"function","z":"398b6f8a.cfdbb","name":"Extract entities","func":"var result = [];\n\nmsg.payload.entities.forEach(function(entity) {\n    result.push({\n        payload: entity\n    })\n});\n\nmsg = [result];\nreturn msg;\n","outputs":1,"noerr":0,"x":439.5,"y":247,"wires":[["ed400b78.c6e05","33628060.87bef"]]},{"id":"a478d738.70e748","type":"json","z":"398b6f8a.cfdbb","name":"","x":360.5,"y":204,"wires":[["92f2e8a4.6c0d58"]]},{"id":"ed400b78.c6e05","type":"function","z":"398b6f8a.cfdbb","name":"Filter groups","func":"if (msg.payload.children === undefined)\n    return null;\n    \nreturn msg;","outputs":1,"noerr":0,"x":203.5,"y":334,"wires":[["17930753.c40b19"]]},{"id":"17930753.c40b19","type":"function","z":"398b6f8a.cfdbb","name":"Extract children","func":"var result = [];\n\nmsg.payload.children.forEach(function(entity) {\n    result.push({\n        payload: entity\n    })\n});\n\nmsg = [result];\nreturn msg;\n","outputs":1,"noerr":0,"x":201.5,"y":430,"wires":[["33628060.87bef","ed400b78.c6e05"]]},{"id":"33628060.87bef","type":"function","z":"398b6f8a.cfdbb","name":"Filter Channels","func":"if (msg.payload.children !== undefined)\n    return null;\n\nreturn msg;","outputs":1,"noerr":0,"x":454.5,"y":430,"wires":[["750b1078.5acd28"]]},{"id":"fc6897bb.c4b368","type":"debug","z":"398b6f8a.cfdbb","name":"","active":false,"console":"false","complete":"payload","x":558.5,"y":583,"wires":[]},{"id":"750b1078.5acd28","type":"function","z":"398b6f8a.cfdbb","name":"Update Channel Map","func":"var map = global.get(\"channels\") || {};\n\n// extract from payload\nmsg.register = msg.payload.title;\nmsg.uuid = msg.payload.uuid;\n\nif (map[msg.register] === msg.uuid)\n    return null;\n\nmap[msg.register] = msg.uuid;\nglobal.set(\"channels\", map);\n\nmsg.payload = msg.register;\n\nreturn msg;","outputs":1,"noerr":0,"x":497.5,"y":511,"wires":[["fc6897bb.c4b368"]]},{"id":"933ae1e3.eee6d8","type":"function","z":"398b6f8a.cfdbb","name":"Clear Channel Map","func":"global.set(\"channels\", null);\nreturn msg;","outputs":1,"noerr":0,"x":168.5,"y":114,"wires":[["33d0f476.e8fc5c"]]},{"id":"37549c70.9e68a4","type":"mqtt in","z":"b830962c.d8ca28","name":"","topic":"ebusd/700/+","qos":"2","broker":"4a184b82.8c2c8c","x":119.5,"y":99,"wires":[["ddfec2d.a19134"]]},{"id":"64b5691f.7a6de8","type":"function","z":"b830962c.d8ca28","name":"Extract channel from topic","func":"var topic = msg.topic.split(\"/\");\n\nmsg = {\n    topic: topic[topic.length-1].replace('.', ''),\n    payload: msg.payload\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":432.5,"y":125,"wires":[["81ce943a.f07278","bec192f0.273be"]]},{"id":"1e4704f6.87e1bb","type":"mqtt out","z":"b5f2035a.746998","name":"ebusd get","topic":"","qos":"","retain":"","broker":"4a184b82.8c2c8c","x":442.5,"y":181,"wires":[]},{"id":"6f9d8f7e.2de918","type":"function","z":"b5f2035a.746998","name":"Generate Topics","func":"var registers = {\n'700': [\n\t'Hc1ActualFlowTempDesired',\n\t'Hc1FlowTemp',\n\t'Hc1MixerMovement',\n\t'Hc1PumpStatus',\n\t'Hc2ActualFlowTempDesired',\n\t'Hc2FlowTemp',\n\t'Hc2MixerMovement',\n\t'Hc2PumpStatus',\n\t'HwcStorageTemp',\n\t'HwcTempDesired'\n],\n'bai': [\n\t'CirPump',\n\t'FlowTempDesired',\n\t'HcHours',\n\t'HwcHours',\n\t'ModulationTempDesired',\n\t// 'Statenumber',\n\t// 'TargetFanSpeed',\n\t// 'TargetFanSpeedOutput'\n]};\n\nvar result = [];\n\nfor (var circuit in registers) {\n\tregisters[circuit].forEach(function(reg) {\n\t\tresult.push({\n\t\t    topic: \"ebusd/\"+circuit+\"/\"+reg+\"/get\",\n\t\t    payload: 1\n\t\t});\n\t});\n}\n\nreturn [result];\n","outputs":1,"noerr":0,"x":265.5,"y":120,"wires":[["1e4704f6.87e1bb","bfa50632.3f875"]]},{"id":"38fe4899.ba5db8","type":"inject","z":"b5f2035a.746998","name":"Trigger","topic":"","payload":"","payloadType":"date","repeat":"30","crontab":"","once":true,"x":108.5,"y":40,"wires":[["6f9d8f7e.2de918"]]},{"id":"bfa50632.3f875","type":"debug","z":"b5f2035a.746998","name":"poll","active":false,"console":"false","complete":"true","x":486.5,"y":107,"wires":[]},{"id":"7f4b6b7c.a3e084","type":"subflow:cea00169.50bf88","z":"b830962c.d8ca28","name":"","x":504.72222900390625,"y":545.388916015625,"wires":[["e6387476.6bf878"]]},{"id":"e6387476.6bf878","type":"debug","z":"b830962c.d8ca28","name":"","active":true,"console":"false","complete":"true","x":661.0555572509766,"y":619.4444808959961,"wires":[]},{"id":"ddfec2d.a19134","type":"function","z":"b830962c.d8ca28","name":"Remove Initial","func":"var map = flow.get(\"topics\") || {};\n\nif (map[msg.topic])\n    return msg;\n    \nmap[msg.topic] = 1;\nflow.set(\"topics\", map);\n\nreturn null;","outputs":1,"noerr":0,"x":348.5,"y":61,"wires":[["c72b6ec8.24d4b8"]]},{"id":"c2a7d3ad.a9172","type":"function","z":"b830962c.d8ca28","name":"Decode Status01","func":"if (msg.topic !== \"Status01\")\n    return msg;\n    \nvar registers = ['HeatingFlowTemp', 'HeatingReturnTemp', 'OutsideTemp', null, null, 'VentState'];\nvar values = msg.payload.split(';');\nvar result = [];\n\nregisters.forEach(function(reg, i) {\n    if (!reg)\n        return;\n    \n    var value = values[i];\n    \n    if (reg == \"VentState\") {\n        var hcvent = 0, hwcvent = 0;\n        switch (value) {\n            case \"on\":\n                hcvent = 100;\n                break;\n            case \"4\":\n                hwcvent = 100;\n                break;\n        }\n        result.push({\n            topic: \"HcVent\",\n            payload: hcvent\n        }, {\n            topic: \"HwcVent\",\n            payload: hwcvent\n        });\n        return;\n    }\n    \n    result.push({\n        topic: reg,\n        payload: value\n    });\n});\n\nreturn [result];","outputs":1,"noerr":0,"x":167.5,"y":242.55555057525635,"wires":[["fca02b24.5db3f8"]]},{"id":"fca02b24.5db3f8","type":"function","z":"b830962c.d8ca28","name":"Decode On/Off","func":"if (msg.payload == \"off\")\n    msg.payload = 0;\nelse if (msg.payload == \"on\")\n    msg.payload = 100;\nreturn msg;","outputs":1,"noerr":0,"x":415.5,"y":243.55555057525635,"wires":[["46b8a248.e6d01c","bec192f0.273be","d49457d1.dab6a","ce52f050.9c67a8"]]},{"id":"81ce943a.f07278","type":"switch","z":"b830962c.d8ca28","name":"HcStarts","property":"topic","propertyType":"msg","rules":[{"t":"regex","v":"HcStarts|HcUnderHundredStarts","vt":"str","case":false},{"t":"else"}],"checkall":"true","outputs":2,"x":173.5,"y":181,"wires":[["1bb080e4.0cfc5f"],["c2a7d3ad.a9172"]]},{"id":"1bd9f9f.e87d686","type":"switch","z":"8e69b0b0.66c858","name":"HcStarts Type","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"HcStarts","vt":"str"},{"t":"eq","v":"HcUnderHundredStarts","vt":"str"}],"checkall":"true","outputs":2,"x":156.5,"y":562,"wires":[["c174a15a.0d3d9"],["699aa5d6.c4b9e4"]]},{"id":"54ac0b91.a85c2c","type":"mqtt out","z":"8e69b0b0.66c858","name":"HcUnderHundredStarts","topic":"ebusd/bai/HcUnderHundredStarts/get","qos":"","retain":"","broker":"4a184b82.8c2c8c","x":470.5,"y":697,"wires":[]},{"id":"c174a15a.0d3d9","type":"function","z":"8e69b0b0.66c858","name":"Store HcStarts","func":"global.set(\"HcStarts\", parseInt(msg.payload));\nreturn msg;","outputs":1,"noerr":0,"x":275.5,"y":633,"wires":[["54ac0b91.a85c2c"]]},{"id":"699aa5d6.c4b9e4","type":"function","z":"8e69b0b0.66c858","name":"Add HcUnderHundredStarts","func":"var hcStarts = parseInt(global.get(\"HcStarts\"));\n\nif (hcStarts) {\n    msg.payload = hcStarts + parseInt(msg.payload);\n    msg.topic = \"HcStarts\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":187.5,"y":733,"wires":[[]]},{"id":"1bb080e4.0cfc5f","type":"subflow:8e69b0b0.66c858","z":"b830962c.d8ca28","name":"ebusd HcStarts","x":166.5,"y":309.5,"wires":[["d49457d1.dab6a","46b8a248.e6d01c","ce52f050.9c67a8"]]},{"id":"2b9191e7.98ac46","type":"mqtt out","z":"b5f2035a.746998","name":"HcStarts","topic":"ebusd/bai/HcStarts/get","qos":"","retain":"","broker":"4a184b82.8c2c8c","x":243,"y":329,"wires":[]},{"id":"626bc818.ee3a9","type":"inject","z":"b5f2035a.746998","name":"Trigger","topic":"","payload":"","payloadType":"date","repeat":"300","crontab":"","once":true,"x":137.5,"y":246,"wires":[["2b9191e7.98ac46","e84f6334.a9bdd8"]]},{"id":"c72b6ec8.24d4b8","type":"function","z":"b830962c.d8ca28","name":"NaN check","func":"if (msg.payload == \"nan\") {\n    node.error(JSON.stringify(msg));\n    return null;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":553.5,"y":65,"wires":[["64b5691f.7a6de8"]]},{"id":"46b8a248.e6d01c","type":"switch","z":"b830962c.d8ca28","name":"UI","property":"register","propertyType":"msg","rules":[{"t":"eq","v":"HcHours","vt":"str"},{"t":"eq","v":"HcStarts","vt":"str"},{"t":"eq","v":"HeatingFlowTemp","vt":"str"},{"t":"eq","v":"Hc1FlowTemp","vt":"str"},{"t":"eq","v":"Hc2FlowTemp","vt":"str"},{"t":"eq","v":"OutsideTemp","vt":"str"}],"checkall":"false","outputs":6,"x":232.49999999999997,"y":676.6666666666665,"wires":[["b50d6ece.27c9"],["46eb3afc.872a6c"],["748c464a.3af8e8"],["748c464a.3af8e8"],[],["3bdc302c.4211e8"]]},{"id":"e84f6334.a9bdd8","type":"mqtt out","z":"b5f2035a.746998","name":"HcHours","topic":"ebusd/bai/HcHours/get","qos":"","retain":"","broker":"4a184b82.8c2c8c","x":227.5,"y":394.99999618530273,"wires":[]},{"id":"b50d6ece.27c9","type":"ui_text","z":"b830962c.d8ca28","group":"cd081c84.5bacb","order":2,"width":0,"height":0,"name":"HcHours","label":"HcHours","format":"{{msg.payload}}","layout":"row-spread","x":402.5,"y":648,"wires":[]},{"id":"46eb3afc.872a6c","type":"ui_text","z":"b830962c.d8ca28","group":"cd081c84.5bacb","order":1,"width":0,"height":0,"name":"HcStarts","label":"HcStarts","format":"{{msg.payload}}","layout":"row-spread","x":527.5,"y":685,"wires":[]},{"id":"748c464a.3af8e8","type":"ui_chart","z":"b830962c.d8ca28","name":"Temp","group":"d2c61125.face98","order":0,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#1F77B4","#AEC7E8","#FF7F0E","#2CA02C","#98DF8A","#D62728","#FF9896","#9467BD","#C5B0D5"],"x":438.5,"y":737,"wires":[[],[]]},{"id":"3bdc302c.4211e8","type":"ui_gauge","z":"b830962c.d8ca28","name":"OutsideTemp","group":"5d10f9cf.61fcd8","order":0,"width":0,"height":0,"gtype":"gage","title":"","label":"°C","format":"{{value|number:1}}","min":"-10","max":"35","colors":["#00B500","#E6E600","#CA3838"],"seg1":"","seg2":"","x":458.5,"y":799,"wires":[]},{"id":"da242218.a18338","type":"function","z":"6e79b0b4.6f8a18","name":"Channels","func":"var result = [];\n['bezug','erzeugung','lieferung'].forEach(function(el) {\n    result.push({\n        channel: el,\n        payload: el\n    })\n});\nreturn [result];","outputs":1,"noerr":0,"x":172.5,"y":96,"wires":[["bfd1bc30.4ecef"]]},{"id":"bfd1bc30.4ecef","type":"http request","z":"6e79b0b4.6f8a18","name":"Middleware","method":"GET","ret":"obj","url":"https://volkszaehler.io/middleware.php/data/{{payload}}.json?from=today&to=now&group=minute&tuples=1","tls":"","x":272.5,"y":157,"wires":[["34d193e7.afbeac"]]},{"id":"4b8ffff2.099188","type":"debug","z":"6e79b0b4.6f8a18","name":"","active":false,"console":"false","complete":"true","x":492.5,"y":323,"wires":[]},{"id":"60f3b8ad.4ad758","type":"inject","z":"6e79b0b4.6f8a18","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":true,"x":107.5,"y":36,"wires":[["da242218.a18338"]]},{"id":"1feb17b1.6a3848","type":"function","z":"6e79b0b4.6f8a18","name":"Totals","func":"var totals = flow.get(\"totals\") || {};\ntotals[msg.channel] = msg.payload;\nflow.set(\"totals\", totals);\n\nmsg.payload /= 1000;\n\nvar sum = 0;\nfor (var key in totals) {\n    sum += 0+totals[key];\n}\nflow.set(\"total\", sum);\n\nreturn msg;","outputs":1,"noerr":0,"x":320.5,"y":411,"wires":[["9adcc8ff.327338"]]},{"id":"34d193e7.afbeac","type":"function","z":"6e79b0b4.6f8a18","name":"Consumption","func":"msg.payload = msg.payload.data.consumption;\n\nflow.set(msg.channel, 0+msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":232.5,"y":236,"wires":[["a3267b1d.1acbd"]]},{"id":"c789456.d16df38","type":"ui_gauge","z":"6e79b0b4.6f8a18","name":"","group":"b429c6d6.ec82c","order":0,"width":0,"height":0,"gtype":"donut","title":"Eigenverbrauch","label":"kWh","format":"{{value|number:1}}","min":0,"max":"100","colors":["#00B500","#E6E600","#CA3838"],"seg1":"","seg2":"","x":516.5,"y":479,"wires":[]},{"id":"a3267b1d.1acbd","type":"switch","z":"6e79b0b4.6f8a18","name":"in vs out","property":"channel","propertyType":"msg","rules":[{"t":"regex","v":"erzeugung|lieferung","vt":"str","case":false},{"t":"eq","v":"bezug|gesamt","vt":"str"}],"checkall":"true","outputs":2,"x":179.5,"y":379,"wires":[["1feb17b1.6a3848","4b8ffff2.099188"],[]]},{"id":"9adcc8ff.327338","type":"function","z":"6e79b0b4.6f8a18","name":"EV Anteil","func":"var erzeugung = flow.get(\"erzeugung\") || 0,\n    lieferung = flow.get(\"lieferung\") || 0,\n    val = 0;\n\nif (erzeugung === 0)\n    return null;\n\nmsg.payload = lieferung/erzeugung;\n\nreturn msg;","outputs":1,"noerr":0,"x":324.5,"y":464,"wires":[["c789456.d16df38"]]},{"id":"bec192f0.273be","type":"debug","z":"b830962c.d8ca28","name":"","active":false,"console":"false","complete":"true","x":733.5,"y":259,"wires":[]},{"id":"ead43caa.356f88","type":"http request","z":"30d50c1c.6fdb4c","name":"Send to Push","method":"POST","ret":"txt","url":"http://keller.fritz.box:5582","tls":"","x":311.1111145019531,"y":168.55555725097656,"wires":[["52f3aaa6.ef20c4"]]},{"id":"94d84f37.d1ca2","type":"function","z":"30d50c1c.6fdb4c","name":"JSON Request","func":"var uuid = msg.uuid;\nvar value = +msg.payload;\nvar time = Date.now();\n\nmsg.headers = {\n    \"Content-type\" : \"application/json\"\n}\n\nvar json = {\n    data: [{\n        uuid: uuid,\n        tuples: [\n            [time, value]\n        ]\n    }]\n}\n\nmsg.payload = JSON.stringify(json);\n\nreturn msg;","outputs":1,"noerr":0,"x":245.61111450195312,"y":111.5555648803711,"wires":[["ead43caa.356f88"]]},{"id":"bc5c0ffb.ee5aa","type":"function","z":"30d50c1c.6fdb4c","name":"Get UUID","func":"var map = global.get(\"channels\") || {}\n\nmsg.uuid = map[msg.topic];\n    \nif (msg.uuid === undefined) {\n    node.error(\"Undefined uuid for \" + msg.topic);\n    return null;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":190.5,"y":43,"wires":[["94d84f37.d1ca2"]]},{"id":"ce52f050.9c67a8","type":"subflow:30d50c1c.6fdb4c","z":"b830962c.d8ca28","name":"","x":617.4999923706055,"y":411.3333263397217,"wires":[["e6387476.6bf878"]]},{"id":"1fd27844.5f8e18","type":"inject","z":"fdcf5ef4.578018","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":true,"x":115.5,"y":58,"wires":[["cd2c5940.da04b8"]]},{"id":"cd2c5940.da04b8","type":"http request","z":"fdcf5ef4.578018","name":"Get SDM API","method":"GET","ret":"txt","url":"http://uv.fritz.box/last","tls":"","x":155.5,"y":117,"wires":[["6fe6cf9a.bf3c68"]]},{"id":"d86cb220.0ff2c8","type":"debug","z":"fdcf5ef4.578018","name":"","active":true,"console":"false","complete":"true","x":463.5,"y":602,"wires":[]},{"id":"6fe6cf9a.bf3c68","type":"json","z":"fdcf5ef4.578018","name":"","pretty":true,"x":185.5,"y":174,"wires":[["e6fd7fde.40e358"]]},{"id":"e6fd7fde.40e358","type":"function","z":"fdcf5ef4.578018","name":"Extract values","func":"var res = [];\n\n// Hauszähler\n\nres.push({\n    topic: \"Haus Import\",\n    payload: msg.payload[0].TotalImport\n});\nres.push({\n    topic: \"Haus Export\",\n    payload: msg.payload[0].TotalExport\n});\n\n// PV Zähler\n\nres.push({\n    topic: \"PV Erzeugung\",\n    payload: msg.payload[1].TotalExport\n});\n\nreturn [res];","outputs":1,"noerr":0,"x":237.5,"y":236,"wires":[["52e6130.9846cec"]]},{"id":"82166559.4d2748","type":"http request","z":"fdcf5ef4.578018","name":"","method":"POST","ret":"txt","url":"http://keller.fritz.box/middleware.php/data/{{{uuid}}}.json","tls":"","x":257.5,"y":482,"wires":[["5e4f21d7.bef71"]]},{"id":"52e6130.9846cec","type":"function","z":"fdcf5ef4.578018","name":"Topic to UUID","func":"var map = global.get(\"channels\") || {}\n\nmsg.uuid = map[msg.topic];\n    \nif (msg.uuid === undefined) {\n    node.error(\"Undefined uuid for \" + msg.topic);\n    return null;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":278.5,"y":291,"wires":[["ed270bc6.c53cc8","212809ae.5262fe"]]},{"id":"5e4f21d7.bef71","type":"function","z":"fdcf5ef4.578018","name":"Remove HTTP 200","func":"if (msg.statusCode == 200)\n    return null;\n    \nreturn msg;","outputs":1,"noerr":0,"x":303.5,"y":541,"wires":[["d86cb220.0ff2c8"]]},{"id":"ed270bc6.c53cc8","type":"function","z":"fdcf5ef4.578018","name":"Detect Changes","func":"if (!msg.topic)\n    return msg;\n\nvar values = flow.get(\"values\") || {}, \n    timestamps = flow.get(\"timestamps\") || {},  \n    oldValue = values[msg.topic],\n    oldTimestamp = timestamps[msg.topic],\n    skip;\n\nmsg.old = {\n    timestamp: oldTimestamp,\n    value: oldValue\n}\n\nskip = \n    oldValue !== undefined &&\n    (Math.abs(msg.payload - oldValue) < 0.001) &&\n    oldTimestamp !== undefined &&\n    (Math.abs(Date.now() - oldTimestamp) < 10*60 * 1e3);\n\nif (skip)\n    return null;\n\nvalues[msg.topic] = msg.payload;\nflow.set(\"values\", values);\n\ntimestamps[msg.topic] = Date.now();\nflow.set(\"timestamps\", timestamps);\n\nreturn msg;","outputs":1,"noerr":0,"x":155.5,"y":369,"wires":[["a0b3d96d.c9272"]]},{"id":"212809ae.5262fe","type":"subflow:30d50c1c.6fdb4c","z":"fdcf5ef4.578018","x":458.5,"y":341,"wires":[["d86cb220.0ff2c8"]]},{"id":"a0b3d96d.c9272","type":"function","z":"fdcf5ef4.578018","name":"Prepare HTTP","func":"// json array\nmsg.payload = JSON.stringify([\n    [Date.now(), msg.payload]\n]);\n\nreturn msg;","outputs":1,"noerr":0,"x":239.5,"y":424,"wires":[["82166559.4d2748"]]},{"id":"52f3aaa6.ef20c4","type":"function","z":"30d50c1c.6fdb4c","name":"Remove HTTP 200","func":"if (msg.statusCode == 200)\n    return null;\n    \nreturn msg;","outputs":1,"noerr":0,"x":391.5,"y":235,"wires":[[]]}]